[global]
repo1-type = {{ repo1_type }}
repo1-path = {{ repo1_path }}
repo1-s3-endpoint = {{ repo1_s3_endpoint }}
repo1-s3-uri-style= {{ repo1_s3_uri_style }}
repo1-s3-bucket = {{ repo1_s3_bucket }}
repo1-s3-verify-ssl={{ repo1_s3_verify_ssl }}
repo1-s3-key = {{ repo1_s3_key }}
repo1-s3-key-secret = {{ repo1_s3_key_secret }}
repo1-s3-region= {{ repo1_s3_region  }}
repo1-storage-host = {{ repo1_storage_host }}
repo1-storage-port = {{ repo1_storage_port }}

repo1-retention-full = {{ repo1_retention_full }}
process-max = {{ process_max }}
log-level-console = {{ log_level_console }}
log-level-file = {{ log_level_file }}
log-path = {{ log_path }}
start-fast = {{ start_fast }}
archive-async = {{ archive_async }}
repo1-cipher-type = {{ repo1_cipher_type }}
repo1-cipher-pass = {{ repo1_cipher_pass }}
compress = {{ compress }}
compress-level = {{ compress_level }}

{% for record in records %}
[{{ stanzas[record] }}]
pg1-host      = {{ pghosts[record] }}
pg1-path      = {{ pg_data_directory }}
pg1-host-user = {{ pg_user }}
pg1-port      = 5432
{% endfor %}


